<div class="" *ngIf="userInformation">
  <div class="info-header">
    <div class="avatar mt-auto">
      <img src="../../../assets/images/User-Default.jpg" alt="User Avatar" class="rounded-circle">
    </div>
    <div class="user lead pr-2 pl-3 pt-md-1 pb-md-1 pt-sm-0">
      <span>{{userInformation.firstName}} {{userInformation.lastName}}</span>
      <div class="link-edit" routerLink="/cabinet/info/edit">
        <i class="fa fa-pencil mr-1" aria-hidden="true"></i><span>Edit</span>
      </div>
    </div>
  </div>
  <!--<ul class="info-list">-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">First name</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">{{userInformation.firstName}}</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Last name</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">{{userInformation.lastName}}</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Email</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">{{userInformation.email}}</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Sex</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">-->
        <!--<span *ngIf="!userInformation.sex" class="add-info" routerLink="/cabinet/info/edit">Add information</span>-->
        <!--{{userInformation.sex}}-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Phone number</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">-->
        <!--<span *ngIf="!userInformation.phoneNumber" class="add-info" routerLink="/cabinet/info/edit">Add information</span>-->
        <!--{{userInformation.phoneNumber}}-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Date birthday</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">-->
        <!--<span *ngIf="!userInformation.dateBirthday" class="add-info" routerLink="/cabinet/info/edit">Add information</span>-->
        <!--{{userInformation.dateBirthday}}-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="row pt-2">-->
      <!--<div class="col-4 col-sm-4 col-lg-2 title text-muted">Description</div>-->
      <!--<div class="col-8 col-sm-6 col-lg-6 info">-->
        <!--<span *ngIf="!userInformation.description" class="add-info" routerLink="/cabinet/info/edit">Add information</span>-->
        <!--{{userInformation.description}}-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->

  <div class="info-list2 pt-2">
    <div class="info-list-item pt-2">
      <div class="title">First name</div>
      <div class="info2">{{userInformation.firstName}}</div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Last name</div>
      <div class="info2">{{userInformation.lastName}}</div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Email</div>
      <div class="info2">{{userInformation.email}}</div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Sex</div>
      <div class="info2">
        <span *ngIf="!userInformation.sex" class="link-edit add-info" routerLink="/cabinet/info/edit">Add information</span>
        {{userInformation.sex}}
      </div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Phone number</div>
      <div class="info2">
        <span *ngIf="!userInformation.phoneNumber" class="link-edit add-info" routerLink="/cabinet/info/edit">Add information</span>
        {{userInformation.phoneNumber}}
      </div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Date birthday</div>
      <div class="info2">
        <span *ngIf="!userInformation.dateBirthday" class="link-edit add-info" routerLink="/cabinet/info/edit">Add information</span>
        {{userInformation.dateBirthday}}
      </div>
    </div>
    <div class="info-list-item pt-2">
      <div class="title">Description</div>
      <div class="info2 description">
        <span *ngIf="!userInformation.description" class="link-edit add-info" routerLink="/cabinet/info/edit">Add information</span>
        {{userInformation.description}}
      </div>
    </div>
  </div>
</div>
