.wrapper {
  min-width: 365px;
}

.paddings {
  padding: 120px 15px 15px 15px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 100px;
  background-color: #f5f5f5;
  min-width: 365px;
}

