<div class="jumbotron">
   <h1 class="display-20">Home page</h1>
  <hr class="my-4">

<div class="dropdown">
  <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
 
              <ul style="display: flex" class="dropdown-menu" id="hide">
                <li  *ngFor="let item of categoriesArray; let i = index" >
                  <ul class="category">
                    <div *ngIf="i>0">
                      <li><a class="dropdown-item">Показать все</a></li>
                      <div class="dropdown-divider"></div>
                    </div>
                    <li [ngClass]="{'dropdown-submenu': item2.subCategories.length > 0}" *ngFor="let item2 of item" (click)="goToSubCategory(item2, i)"><a class="dropdown-item">{{item2.name}}</a></li>
                  </ul>
                </li>
              </ul>
        
        
        
</div>
</div>



<!--<div style="height: 60px"></div>-->
