<div class="jumbotron">
   <h1 class="display-20">Home page</h1>
  <hr class="my-4">

<div class="dropdown">
  <button  (click)="getCategories()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="dropdown-submenu"><a class="dropdown-item" href="#">NewItem</a>
      <div class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Показать все</a></li>
          <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Action1</a></li>
          <li class="dropdown-submenu"><a class="dropdown-item" href="#">Action2</a>
            <div class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Показать все</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#">Action3</a></li>
              <li><a class="dropdown-item" href="#">Action4</a></li>
            </div>
      </li>
      <li><a class="dropdown-item" href="#">Action3</a></li>
      <li><a class="dropdown-item" href="#">Action4</a></li>
      <li><a class="dropdown-item" href="#">Action5</a></li>
      <li><a class="dropdown-item" href="#">Action6</a></li>
      <li><a class="dropdown-item" href="#">Action7</a></li>
      <li><a class="dropdown-item" href="#">Action8</a></li>
        </div>
    </li>
    
  </div>
</div>
</div>

<!--<div style="height: 60px"></div>-->
